# Ignore all files with no extension
*
!*/
!*.*

# Do not ignore license or makefile
!license
!makefile

# Ignore C objects
*.o

# Ignore RGBDS objects
*.obj
*.2bpp
*.1bpp
*.rle

# Ignore ROM objects
*.gbc
*.sav
*.map
*.sym
